.sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0 5px -2px #bdbdbd;
}

.sidebar-items {
    margin: 10px 0 0 0;
    padding: 5px 0 5px 0;
    height: 30px;
}

.sidebar-items:nth-child(1) {
    position: sticky;
    top: 75px;
    z-index: 1;
}

.sidebar-items:nth-child(2) {
    position: sticky;
    top: 120px;
    z-index: 1;
}

.sidebar-items a {
    display: block;
    height: 20px;
    padding: 5px 0 5px 5px;
    text-decoration: none;
    color: black;

    &:hover {
        background-color: #ded9d9;
    }
}