* {
    margin: 0;
    padding: 0;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 60px);
    min-width: 400px;
}

@media only screen and (max-width: 880px) {
    .main-content {
        grid-template-columns: 1fr 2fr;
        height: calc(100vh - 80px);
    }
}